<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>DatingApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <ng-container *ngIf="service.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                    </li>
                </ng-container>
            </ul>

        </div>
        <div class="btn-group" dropdown *ngIf="(service.currentUser$ | async) as user">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
        Welcome {{user.userName | titlecase}} <span class="caret"></span>
      </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#" (click)='logout()'>LogOut</a></li>
            </ul>
        </div>
        <form class="d-flex" #loginForm='ngForm' (ngSubmit)='login()' autocomplete="off" *ngIf="(service.currentUser$ | async)===null">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="UserName">
            <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="password" placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</nav>